<!DOCTYPE html>
<html>
<head>
    <title>Página não encontrada</title>
    <style>
        body {
            font-family: Arial, sans-serif;
            background-color: #f2f2f2;
            text-align: center;
            padding: 50px;
        }
        h1 {
            font-size: 50px;
            color: #ff3333;
        }
        h2 {
            color: #333;
        }
        p {
            font-size: 20px;
        }
        a {
            color: #007bff;
            text-decoration: none;
            font-weight: bold;
        }
    </style>
</head>
<body>

    <h1>Ooops! Perdeu a rota?</h1>
    <h2>A página que você está procurando não foi encontrada!</h2>
    <p>Verifique se o destino está correto ou <a href="/">retorne ao terminal principal (home)</a> para um novo embarque.</p>
    <p>Ou <a href="/airplane/">veja a lista de aviões disponíveis</a> para ajustar sua rota.</p>

</body>
</html>
